*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.DS_Store

# Ignored compiled files
*.o
*.d
fIcy
fPls
id3tool
config.h
*~

Makefile.in
aclocal.m4

